@charset "UTF-8";
@import url("font.css");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.header .p-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header .p-header .p-sidebar {
  /*display: none;*/
  margin-left: 10px;
}

.header .p-header .p-sidebar button {
  border: none;
  background-color: #ffffff;
}

.header .p-header .p-sidebar button svg {
  width: 20px;
  height: 20px;
  color: #dddddd;
}

.header .p-header .p-header-list {
  display: flex;
  align-items: center;
}

.header .p-header .p-header-list ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header .p-header .p-header-list ul li {

}

.header .p-header .p-header-list ul li + li {
  padding-left: 10px;
}

.container {
  margin-top: 60px;
  height: 3000px;
}

